<form action="/cars" method="post">
 <h1>Add a new car to the lot.</h1>
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <label for="makeModel">Make model:</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Price:</label>
  <input id="price" name="price" type="text">
  <label for="miles">Miles:</label>
  <input id="miles" name="miles" type="text">
  <button type="submit">Submit</button>
</form>